@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>


<address>
    Survey no 45/2, ward no. 150 Marathahalli - Sarjapur Rd, opposite Iblur, Ambalipura,
    Bellandur, Bengaluru, Karnataka 560102
</address>

<address>
    <strong>Phone No:</strong> 8722584012  <br />
    <strong>Email:</strong> <a href="mailto:help@kiranhealthcare.com">help@kiranhealthcare.com</a>
</address>