
@{
    ViewBag.Title = "CancelAppointment";
}

<br />
<span class="alert-success">
    @ViewBag.Message
</span>
&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
<a href="/Hospital/Index/@ViewBag.Id" class="btn btn-primary btn-lg">Book Appointment &raquo;</a>
&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
<a href="/Home/Index/" class="btn btn-primary">Logout &raquo;</a>
